<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">H</a></li>
				<li><a href="/test">Test</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/tailorlady">TailorLady</a></li>
				<li><a href="/neotokyo">Neo Tokyo</a></li>
				<li><a href="Cosplay Against Cancer">Cosplay against cancer</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.facebook.com/digiconNO">Kontakt oss på facebook OBS: høyreklikk og åpne i ny tab!</a></li>
				</ul>
			</footer>
		</body>
	</html>
